table {
    width: 47%;
    border-collapse: collapse;
    background-color: #73a8b1;
    vertical-align: middle;
  }
  
  
 table, th, td {
      border: 2px solid black;
      vertical-align: middle;
      
      
  }

  
  td {
      text-align:middle;
  }


  td, th {
      padding: 10px;
      text-align: center;
      
      height: 30px;
  }

  #search {
        width:99.1%;
        height: 20px;
        font-size: 20px;
        padding: 10px;
  }