body {
    /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1em 3em;
    height: 100%;
    background-image: linear-gradient(to right, rgba(103,155,155,1), rgba(103,155,155,.65));
  }
   
header h1, h2, h4, b {
    color: #DAE1E7;
}
 
#d3-container{
    display: block;
    margin: auto;
  }

#d3-container-1{
    display: block;
    margin: auto;
  }

